/* .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .text-gray-800 {
    color: #2d3748;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  .mr-8 {
    margin-right: 2rem;
  }
  
  .text-3xl {
    font-size: 1.875rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .btn-blue {
    padding: 0.5rem 1rem;
    background-color: #1e40af;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .btn-blue:hover {
    background-color: #1c3faa;
  }
  
  .btn-green {
    padding: 1rem 2rem;
    background-color: #10b981;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .btn-green:hover {
    background-color: #059669;
  }
   */

   .thank-you-page {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .thank-you-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .thank-you-page p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .btn-green {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-green:hover {
    background-color: #45a049;
  }
  