.container {
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 9998;
}

.title {
  text-align: center;
}

.maroonColor {
  color: maroon;
}

.inputBoxes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.categories {
  margin-top: 20px;
  text-align: center;
}

.categories h3 {
  margin-bottom: 10px;
}

.categories_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories_container_item {
  margin: 10px;
  text-align: center;
}

.categories_container_item img {
  width: 50px;
  height: 50px;
}

.categories_container_item p {
  margin-top: 5px;
}
